@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* p{
        @apply text-body;
    } */
}

@font-face {
    font-family: 'Sansation Light';
    src: url('/font/SansationLight-a5E5.woff2') format('woff2');
    font-weight: 300; /* Light weight */
    font-style: normal;
  }

  /* Ændrer farven på den markerede tekst */
::selection {
    background-color: #EC97C099; 
    
    color: white; /* Hvid tekst */
  }
  
/* Global scrollbar styling for Webkit browsers */
::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
  background-color: none; /* Background color for the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f4d0d9; /* Track color */
  border-radius: 4px; /* Rounded corners for the track */

}

::-webkit-scrollbar-thumb {
  background-color: #ec97c0; /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
  transition: background-color 0.3s ease-in-out; /* Smooth color transition */
  
}



html{
  scroll-behavior: smooth;
}

 
#hero, .cloud{
  overflow-x: hidden;
}
  
