@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* p{
        @apply text-body;
    } */
}

@font-face {
    font-family: 'Sansation Light';
    src: url('/font/SansationLight-a5E5.woff2') format('woff2');
    font-weight: 300; /* Light weight */
    font-style: normal;
  }