---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Quote from "../components/Quote.astro";
import Carrousel from "../components/Carrousel.astro";
import Card from "../components/Card.astro";
---
<MainLayout title="Exiong Art Portfolio">
	


<section id="hero" class="overflow-x-hidden overflow-hidden relative">

<section id="hero-d" class=" h-screen  flex flex-col items-center justify-center mx-margin-mobil lg:mx-margin-desktop ">

 
    <div class="z-0 lg:hidden">
        <img src="/svg/4-star.svg" class=" star absolute w-7 left-2" alt="Star">
        <img src="/svg/7-star.svg" class="top-[68%] star-7 absolute  w-10 right-[10%]" alt="Big star">
        
        <img src="/svg/dots.svg" class=" absolute w-20 right-[2%] top-[16%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class=" absolute w-20 left-0  top-[35%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class=" absolute w-20 left-10  top-[55%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class=" absolute w-20 right-[40%]  top-[5%]" alt="Tiny stars">
    
        <img src="/svg/dots.svg" class=" absolute w-20 left-[30%]  top-[75%]" alt="Tiny stars">
     
        
      </div>
    
    
    
      <div class="z-0 lg:block hidden">
        <img src="/svg/4-star.svg" class="top-[15%] star absolute  w-7 left-[70%]" alt="Star">
        <img src="/svg/4-star.svg" class="top-[19%] star absolute  w-7 left-[20%]" alt="Star">
        <img src="/svg/dots.svg" class="top-[30%]  absolute  w-40 left-[20%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class="top-[4%]  absolute  w-40 left-[34%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class="top-[10%]  absolute  w-40 left-[54%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class="top-[50%]  absolute  w-40 left-[70%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class="top-[70%]  absolute  w-40 right-[54%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class="top-[80%]  absolute  w-40 right-[74%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class=" absolute w-40 left-[2%] top-[16%]" alt="Tiny stars">
        <img src="/svg/dots.svg" class=" absolute w-40 right-[2%] top-[80%]" alt="Tiny stars">
        <img src="/svg/7-star.svg" class="top-[38%] star-7 absolute  w-20 left-[10%]" alt="Big star">
        <img src="/svg/7-star.svg" class="top-[68%] star-7 absolute  w-10 right-[10%]" alt="Big star">
        <img src="/svg/7-star.svg" class="top-[68%] star-7 absolute  w-10 left-[10%]" alt="Big star">
        <img src="/svg/7-star.svg" class="top-[38%] star-7 absolute  w-20 right-[10%]" alt="Big star">
        <img src="/svg/dots.svg" class=" absolute w-40 left-[2%] top-[16%]" alt="Tiny stars">
        
        <img src="/svg/dots.svg" class=" absolute w-40 right-[2%] top-[16%]" alt="Tiny stars">
        
    
        
      </div>
    




    
<div class="flex flex-col items-center justify-center gap-xxl">
    <div class="fade-in">
    <Quote class="" quote="Art is not what you see, but what you make others see." author="Edgar Degas"></Quote>

  </div>

<div class=" bounce flex flex-row gap-s opacity-50">
  <p class="font-primary text-body-mobil lg:text-body-desktop text-pink-100 text-center">About the artist</p>
  <img class="w-4" src="/svg/icon-arrow-down-light.svg" alt="Arrow">
</div>
</div>
        
    </section>


</section>




<section id="behind" class="overflow-x-hidden bg-pink-100 ">
  <section id="" class=" mx-margin-mobil gap-m lg:mx-margin-desktop pt-m flex flex-col items-center lg:items-start gap justify-center">


<h1 class="text-h1-mobil lg:text-h1-desktop lg:self-start font-primary text-midnight-500 lg:text-start text-center">Behind the canvas</h1>

<img class="h-[380px] lg:h-[590px] lg:w-[500px] self-center w-auto object-cover rounded-t-[9999px]" src="/img/2025/2025-digital-lana-clean.JPG" alt="Self portrait">


  </section>
</section>



<section id="intro" class="pb-l flex flex-col items-center lg:items-start mx-margin-mobil  lg:mx-margin-desktop gap-l justify-center">

    <div class="z-0 lg:hidden">
      <img src="/svg/4-star.svg" class=" star absolute right-[50%] w-4  top-[275%]" alt="Star">
      <img src="/svg/7-star.svg" class="star-7 absolute w-12 left-[15%] top-[250%]" alt="Big star">
     
      <img src="/svg/dots.svg" class=" absolute w-20 right-10  top-[245%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class=" absolute w-20 right-10  top-[260%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class=" absolute w-20 left-10  top-[260%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class=" absolute w-20 left-10  top-[280%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class=" absolute w-20 left-0  top-[300%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class=" absolute w-20 right-[2%] top-[320%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class=" absolute w-20 left-10  top-[367%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class=" absolute w-20 left-[60%]  top-[370%]" alt="Tiny stars">
      <img src="/svg/7-star.svg" class="star-7 absolute w-12 right-[6%] top-[380%]" alt="Big star">
      
      
  
      <img src="/svg/dots.svg" class=" absolute w-20 left-[30%]  top-[75%]" alt="Tiny stars">
      <img src="/svg/7-star.svg" class="star-7 absolute w-12 left-[15%] top-[80%]" alt="Big star">
      
    </div>
  
    <div class="z-0 lg:block hidden">
      <img src="/svg/4-star.svg" class="top-[205%] star absolute  w-7 left-[70%]" alt="Star">
      <img src="/svg/4-star.svg" class="top-[209%] star absolute  w-7 left-[20%]" alt="Star">
  
  
   
      <img src="/svg/dots.svg" class="top-[300%]  absolute  w-40 right-[20%]" alt="Tiny stars">
      <img src="/svg/dots.svg" class="top-[280%]  absolute  w-40 right-[4%]" alt="Tiny stars">
      <img src="/svg/4-star.svg" class="top-[305%] star absolute  w-7 left-[10%]" alt="Star">
      <img src="/svg/dots.svg" class=" absolute w-40 left-[2%] top-[216%]" alt="Tiny stars">
      <img src="/svg/7-star.svg" class="top-[238%] star-7 absolute  w-20 left-[0%]" alt="Big star">
      <img src="/svg/7-star.svg" class="top-[238%] star-7 absolute  w-20 right-[2%]" alt="Big star">
      <img src="/svg/dots.svg" class=" absolute w-40 left-[2%] top-[216%]" alt="Tiny stars">
      
      <img src="/svg/dots.svg" class=" absolute w-40 right-[2%] top-[216%]" alt="Tiny stars">
      
  
     
   
      
    </div>
  
  
  
    <h1 class="h1 font-primary text-h1-mobil lg:text-h1-desktop text-pink-100">Introduction</h1>
  
    <article class="note-1 border border-midnight-200 lg:hidden bg-midnight-50 p-sm w-full rounded-[4px]">
<div>
<div>        
<p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">I am Emily, a 20 year old</p>
<div class="bg-midnight-50 h-[2px]"></div>
</div>



<div>        
    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> multimedia design student</p>
    <div class="bg-midnight-50 h-[2px]"></div>
    </div>


    <div>        
        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> and artist based in </p>
        <div class="bg-midnight-50 h-[2px]"></div>
        </div>

        
<div>        
    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> Copenhagen. Art has been  </p>
    <div class="bg-midnight-50 h-[2px]"></div>
    </div>

    

    
<div>        
    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">my passion for as long as I</p>
    <div class="bg-midnight-50 h-[2px]"></div>
    </div>

    
<div>        
    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">can remember. Art is </p>
    <div class="bg-midnight-50 h-[2px]"></div>
    </div>

    <div>        
        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">my way of expressing </p>
        <div class="bg-midnight-50 h-[2px]"></div>
        </div>

        
    <div>        
        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">myself and capturing  </p>
        <div class="bg-midnight-50 h-[2px]"></div>
        </div>

        
    <div>        
        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">the world as I see it.  </p>
        <div class="bg-midnight-50 h-[2px]"></div>
        </div>

    </div>
<br>

    <div class="bg-midnight-50 h-[2px]"></div> <br>


    <div>
        <div>        
        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">Creating is like therapy</p>
        <div class="bg-midnight-50 h-[2px]"></div>
        </div>
        
        
        
        <div>        
            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> to me, it soothes and </p>
            <div class="bg-midnight-50 h-[2px]"></div>
            </div>
        
        
            <div>        
                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> relaxes me and I can't  </p>
                <div class="bg-midnight-50 h-[2px]"></div>
                </div>
        
                
        <div>        
            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> imagine a life without   </p>
            <div class="bg-midnight-50 h-[2px]"></div>
            </div>
        
            
        
            
        <div>        
            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">art. Each piece I create </p>
            <div class="bg-midnight-50 h-[2px]"></div>
            </div>
        
            
        <div>        
            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">reflects a part of me. </p>
            <div class="bg-midnight-50 h-[2px]"></div>
            </div>
        
        
            </div>


    

    </article>


    <article class="note-2 lg:hidden border border-midnight-200  bg-midnight-50 p-sm w-full rounded-[4px]">
        <div>
        <div>        
        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">I work with both traditional </p>
        <div class="bg-midnight-50 h-[2px]"></div>
        </div>
        
        
        
        <div>        
            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">  and digita mediums and I </p>
            <div class="bg-midnight-50 h-[2px]"></div>
            </div>
        
        
            <div>        
                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">  mainly paint with acrylic  </p>
                <div class="bg-midnight-50 h-[2px]"></div>
                </div>
        
                
     
        
            
        
            
        <div>        
            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">paints and occassionally </p>
            <div class="bg-midnight-50 h-[2px]"></div>
            </div>
        
            
        <div>        
            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> watercolors. </p>
            <div class="bg-midnight-50 h-[2px]"></div>
            </div>
        
            <div>        
                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> On smaller works on paper I  </p>
                <div class="bg-midnight-50 h-[2px]"></div>
                </div>
        
                
            <div>        
                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">tend to use pencils, colored  </p>
                <div class="bg-midnight-50 h-[2px]"></div>
                </div>
        
          
        
                <div>        
                    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">pencils and markers. I enjoy  </p>
                    <div class="bg-midnight-50 h-[2px]"></div>
                    </div>

                    <div>        
                        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> mixing mediums too and .   </p>
                        <div class="bg-midnight-50 h-[2px]"></div>
                        </div>
                        <div>        
                            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">  experimenting </p>
                            <div class="bg-midnight-50 h-[2px]"></div>
                            </div>
            </div>
        <br>
        
            <div class="bg-midnight-50 h-[2px]"></div> <br>
        
        
            <div>
                <div>        
                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">I create a variety of works.</p>
                <div class="bg-midnight-50 h-[2px]"></div>
                </div>
                
                
                
                <div>        
                    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">  Animations, sketches,  </p>
                    <div class="bg-midnight-50 h-[2px]"></div>
                    </div>
                
                
                    <div>        
                        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> stopmotions, drawings,   </p>
                        <div class="bg-midnight-50 h-[2px]"></div>
                        </div>
                
                        
                <div>        
                    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">   paintings and scrapbooking. </p>
                    <div class="bg-midnight-50 h-[2px]"></div>
                    </div>
                
                    
                

                
                    
                
                    </div>
        
        
            
        
            </article>



<div class=" justify-center items-center self-center  hidden lg:flex">

            <article class="note-1  border border-midnight-200   bg-midnight-50 p-sm w-[554px] rounded-[4px]">
                <div>
                <div>        
                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">I am Emily, a 20 year old multimedia design student and</p>
                <div class="bg-midnight-50 h-[2px]"></div>
                </div>
                
                
                
                <div>        
                    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> artist based in Copenhagen. </p>
                    <div class="bg-midnight-50 h-[2px]"></div>
                    </div>
                
                  <br>  <div class="bg-midnight-50 h-[2px]"></div> <br>

                    <div>        
                        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> Art has been my passion for as long as I can remember.  </p>
                        <div class="bg-midnight-50 h-[2px]"></div>
                        </div>
                
                        
                <div>        
                    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> Art is my way of expressing myself and capturing the  </p>
                    <div class="bg-midnight-50 h-[2px]"></div>
                    </div>
                
                    
                
                    
                <div>        
                    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">world as I see it. </p>
                    <div class="bg-midnight-50 h-[2px]"></div>
                    </div>

                    <br>  <div class="bg-midnight-50 h-[2px]"></div> <br>
                    
                <div>        
                    <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">Creating is like therapy to me, it soothes and relaxes me  </p>
                    <div class="bg-midnight-50 h-[2px]"></div>
                    </div>
                
                    <div>        
                        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">and I can't imagine a life without art. Each piece I create  </p>
                        <div class="bg-midnight-50 h-[2px]"></div>
                        </div>
                
                        
                    <div>        
                        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">reflects a part of me.  </p>
                        <div class="bg-midnight-50 h-[2px]"></div>
                        </div>
                
                        
                    
                
            </article>
                
            <article class="note-2 relative top-20 border border-midnight-200  bg-midnight-50 p-sm w-[554px] rounded-[4px]">
                        <div>
                        <div>        
                        <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">I work with both traditional and digital mediums, and I </p>
                        <div class="bg-midnight-50 h-[2px]"></div>
                        </div>
                        
                        
                        
                        <div>        
                            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> mainly paint with acrylic paints and occassionally </p>
                            <div class="bg-midnight-50 h-[2px]"></div>
                            </div>
                        
                       
        
                            <div>        
                                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> watercolors. On smaller works on paper I tend to use  </p>
                                <div class="bg-midnight-50 h-[2px]"></div>
                                </div>
                        
                                
                        <div>        
                            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop"> pencils, colored pencils and markers. I enjoy mixing  </p>
                            <div class="bg-midnight-50 h-[2px]"></div>
                            </div>
                        
                            
                        
                            
                        <div>        
                            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">mediums too and experimenting. </p>
                            <div class="bg-midnight-50 h-[2px]"></div>
                            </div>
        
                            <br>  <div class="bg-midnight-50 h-[2px]"></div> <br>
                            
                        <div>        
                            <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">I create a variety of works. Animations, stopmotions, </p>
                            <div class="bg-midnight-50 h-[2px]"></div>
                            </div>
                        
                            <div>        
                                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">sketches, drawings, paintings and scrapbooking.  </p>
                                <div class="bg-midnight-50 h-[2px]"></div>
                                </div>
                        
                                
                            <div>        
                                <p class="font-primary text-pink-100 text-note-mobil lg:text-note-desktop">reflects a part of me.  </p>
                                <div class="bg-midnight-50 h-[2px]"></div>
                                </div>
                        
                                
                            
                        
            </article>

        </div>
                    
  
    <a href="#footer">
      <Button input="Contact me" icon="/svg/icon-arrow-right-light.svg" variant="secondaryDefault"></Button>
    </a>
  </section>



  <section id="inspires" class="bg-pink-100 py-l ">
<div class="flex flex-col items-center lg:items-start mx-margin-mobil  lg:mx-margin-desktop gap-l justify-center">
  
  
  
  
    <h1 class="h1 font-primary text-h1-mobil text-center lg:text-start lg:text-h1-desktop text-midnight-500">What inspires me</h1>
  
    <article class="note-1 border border-pink-500 lg:hidden bg-pink-50 p-sm w-full rounded-[4px]">
<div>
<div>        
<p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> Art is my passion and the</p>
<div class="bg-pink-500 h-[2px]"></div>
</div>



<div>        
    <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> world is my inspiration</p>
    <div class="bg-pink-500 h-[2px]"></div>
    </div>


    <div>        
        <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">  It's not about the result but  </p>
        <div class="bg-pink-500 h-[2px]"></div>
        </div>

        
<div>        
    <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> the process.   </p>
    <div class="bg-pink-500 h-[2px]"></div>
    </div>

    



    

    </article>


    <article class="note-2 lg:hidden bg-pink-50 border border-pink-500 p-sm w-full rounded-[4px]">
    <div>
        <div>        
        <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">I create because I feel like it </p>
        <div class="bg-pink-500 h-[2px]"></div>
        </div>
        
        
        
        <div>        
            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">   is my purpose. I have drawn </p>
            <div class="bg-pink-500 h-[2px]"></div>
            </div>
        
        
            <div>        
                <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">  ever since I could hold a   </p>
                <div class="bg-pink-500 h-[2px]"></div>
                </div>
        
                
     
        
            
        
            
        <div>        
            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">pencil in my hand. </p>
            <div class="bg-pink-500 h-[2px]"></div>
            </div>
        
            
        <div>        
            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">  If I take too long of a break</p>
            <div class="bg-pink-500 h-[2px]"></div>
            </div>
        
            <div>        
                <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> from art, it feels weird and  </p>
                <div class="bg-pink-500 h-[2px]"></div>
                </div>
        
                
            <div>        
                <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">wrong. No matter how   </p>
                <div class="bg-pink-500 h-[2px]"></div>
                </div>
        
          
        
                <div>        
                    <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">frustrated  I can get   </p>
                    <div class="bg-pink-500 h-[2px]"></div>
                    </div>

                    <div>        
                        <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> sometimes  I always return</p>
                        <div class="bg-pink-500 h-[2px]"></div>
                        </div>
                        <div>        
                            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">  to art after max a few  </p>
                            <div class="bg-pink-500 h-[2px]"></div>
                            </div>

                            <div>        
                                <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">  months. Every brushstroke    </p>
                                <div class="bg-pink-500 h-[2px]"></div>
                                </div>
                                <div>        
                                    <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> feels right, like home.   </p>
                                    <div class="bg-pink-500 h-[2px]"></div>
                                    </div>
    </div>
          
        
        
            
        
    </article>



<div class=" justify-center items-center self-center  hidden lg:flex">

            <article class="note-1 border border-pink-500 bg-pink-50   p-sm w-[554px] rounded-[4px]">
                <div>
                <div>        
                <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> Art is my passion and the world is my inspiration. It's</p>
                <div class="bg-pink-500 h-[2px]"></div>
                </div>
                
                
                
                <div>        
                    <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> not about the result but the process.  </p>
                    <div class="bg-pink-500 h-[2px]"></div>
                    </div>
                
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                    
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                    
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                    
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                    
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                    
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                    
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                    
                    <br>  <div class="bg-pink-500 h-[2px]"></div> 
                 
                        
                    
                
            </article>
                
            <article class="note-2 border border-pink-500 relative top-20 bg-pink-50  p-sm w-[554px] rounded-[4px]">
                        <div>
                        <div>        
                        <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">I create because I feel like it is my purpose. I have  </p>
                        <div class="bg-pink-500 h-[2px]"></div>
                        </div>
                        
                        
                        
                        <div>        
                            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> drawn ever since I could hold a pencil in my hand. If I  </p>
                            <div class="bg-pink-500 h-[2px]"></div>
                            </div>
                        
                       
        
                            <div>        
                                <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> take too long of a break from art, it feels weird and   </p>
                                <div class="bg-pink-500 h-[2px]"></div>
                                </div>
                        
                                
                        <div>        
                            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop"> wrong. No matter how frustrated I can get sometimes   </p>
                            <div class="bg-pink-500 h-[2px]"></div>
                            </div>
                        
                            
                        
                            
                        <div>        
                            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">I always return to art after max a few months. Every </p>
                            <div class="bg-pink-500 h-[2px]"></div>
                            </div>
        
                       
                            
                        <div>        
                            <p class="font-primary text-midnight-500 text-note-mobil lg:text-note-desktop">brushstroke feels like right, like home.</p>
                            <div class="bg-pink-500 h-[2px]"></div>
                            </div>
                        
                            <br>  <div class="bg-pink-500 h-[2px]"></div> 
                            <br>  <div class="bg-pink-500 h-[2px]"></div> <br>
                                
                            
                        
            </article>

</div>
                    
  
    <a href="/commissions">
      <Button input="Commission" icon="/svg/icon-arrow-right.svg" variant="primaryDefault"></Button>
    </a>

</div>
  </section>









</MainLayout>


<style>
/* Hide scrollbar in Webkit browsers (Chrome, Safari, Edge) */
#works-preview .flex {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

#works-preview .flex::-webkit-scrollbar {
  display: none; /* Webkit browsers */
}


	html{
		scroll-behavior: smooth;
	}
	
  
	</style>



<script>



import gsap from "gsap";
 
 import { ScrollTrigger } from "gsap/ScrollTrigger";
 
 gsap.registerPlugin(ScrollTrigger);

 gsap.to(".bounce", {
    y: -10,  delay: 0.8, ease: "power1.out", duration: 1, repeat: -1, yoyo: true,
});

gsap.to(".star", {
  scale: 1.2,
  opacity: 1, 
  duration: 0.8, 
  ease: "power1.inOut", 
  repeat: -1, 
  yoyo: true,
  stagger: 0.1 
});


gsap.to(".star-7", {
    scale: 1.2,
  opacity: 1,
  duration: 40, 
  ease: "power1.inOut",
  repeat: -1, 
  yoyo: true, 
  stagger: 0.1,
  rotation: 360,
});




gsap.from(".fade-in",{
opacity:0,
duration:3,
ease:"power1.inOut"


});




 gsap.from("#behind h1, #behind img", {
  scrollTrigger: {
    trigger: "#behind",
    start: "top 90%", 
    scrub: false, // Animation will not be tied to scroll progress
  },
  opacity: 0,
  x:-10,
  duration: 1,
  ease: "power2.out",
  stagger: 0.1, // Stagger the animation of each element by 0.1 seconds
});


gsap.from("#intro .h1, #intro  .note-1,  #intro a", {
  scrollTrigger: {
    trigger: "#intro",
    start: "top 90%", 
    scrub: false, // Animation will not be tied to scroll progress
  },
  opacity: 0,
  x:-30,
  
  duration: 1,
  ease: "power2.out",
  stagger: 0.3, // Stagger the animation of each element by 0.1 seconds
});


gsap.from(" #intro .note-2", {
  scrollTrigger: {
    trigger: "#intro .note-2",
    start: "top 90%", 
    scrub: false, // Animation will not be tied to scroll progress
  },
  opacity: 0,
  x:30,
  
  duration: 1,
  ease: "power2.out",
  stagger: 0.3, // Stagger the animation of each element by 0.1 seconds
});





gsap.from("#inspires .h1, #inspires  .note-1", {
  scrollTrigger: {
    trigger: "#inspires",
    start: "top 90%", 
    scrub: false, // Animation will not be tied to scroll progress
  },
  opacity: 0,
  x:-30,
  
  duration: 1,
  ease: "power2.out",
  stagger: 0.3, // Stagger the animation of each element by 0.1 seconds
});


gsap.from("  #inspires a", {
  scrollTrigger: {
    trigger: "#inspires a",
    start: "top 90%", 
    scrub: false, // Animation will not be tied to scroll progress
  },
  opacity: 0,
  x:-30,
  
  duration: 1,
  ease: "power2.out",
  stagger: 0.3, // Stagger the animation of each element by 0.1 seconds
});


gsap.from(" #inspires .note-2", {
  scrollTrigger: {
    trigger: "#inspires .note-2",
    start: "top 90%", 
    scrub: false, // Animation will not be tied to scroll progress
  },
  opacity: 0,
  x:30,
  
  duration: 1,
  ease: "power2.out",
  stagger: 0.3, // Stagger the animation of each element by 0.1 seconds
});







</script>


