---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Quote from "../components/Quote.astro";
---
<MainLayout title="Exiong Art Portfolio">
	


<section id="hero">

<section id="hero-d" class=" h-screen  flex flex-col items-center justify-center mx-margin-mobil lg:mx-margin-desktop ">

  <div class="z-0">
    <img src="/svg/4-star.svg" class="star absolute w-4 left-2" alt="">
    <img src="/svg/7-star.svg" class="star-7 absolute w-12 left-32" alt="">
    <img src="/svg/dot.svg" class="star absolute w-2 right-2" alt="">
  </div>

<div class="hidden lg:block">
  <img src="/svg/cloud-r-crop.svg" class=" cloud-right absolute -bottom-0 -right-[24rem] w-4/5" alt="CLoud">
  <img src="/svg/cloud-l-crop.svg" class="cloud-left absolute -bottom-0 -left-[24rem]  w-4/5" alt="CLoud">
</div>


<div class=" lg:hidden">
  <img src="/svg/cloud-r-crop.svg" class=" cloud-right absolute -bottom-0 -right-[9%] w-[400px] max-w-none" alt="CLoud">
  <img src="/svg/cloud-l-crop.svg" class="	 cloud-left absolute top-10 -left-[9%]  w-[400px]" alt="CLoud">
</div>



    <div class="fade-in">
    <Quote class="" quote="Painting is just another way of keeping a diary." author="Pablo Picasso"></Quote>

  </div>

        
    </section>


</section>




<section id="about-preview" class="bg-pink-100 h-screen">

  <section id="about-preview-m ">


  </section>


</section>







</MainLayout>




<script>



import gsap from "gsap";
 
 import { ScrollTrigger } from "gsap/ScrollTrigger";
 
 gsap.registerPlugin(ScrollTrigger);



gsap.to(".e", {scrollTrigger:{trigger: "#hero-d, #hero-m", start: "bottom 100%", scrub: true}, scale:4.2, opacity: 0, x: -40, delay: 0,  stagger: 0.06, ease: "power2.out", duration: 1.1,})
gsap.to(".star", {
  scale: 1.2,
  opacity: 1, 
  duration: 0.8, 
  ease: "power1.inOut", 
  repeat: -1, 
  yoyo: true,
  stagger: 0.1 
});


gsap.to(".star-7", {
    scale: 1.2,
  opacity: 1,
  duration: 40, 
  ease: "power1.inOut",
  repeat: -1, 
  yoyo: true, 
  stagger: 0.1,
  rotation: 360,
});

// Entrance animation (from the right)
gsap.from(".cloud-right", {
  opacity: 0,
  x: 200, // Comes in from the right
  delay: 0.4,
  stagger: 0.1, // Delay between clouds
  ease: "power1.out",
  duration: 1.1,
  onComplete: () => {
    // Start pulsing after entrance animation is complete
    gsap.to(".cloud-right", {
      scale: 1.01, // Slightly enlarge
      duration: 1, // Time for each pulse
      ease: "power1.inOut",
      yoyo: true, // Reverse back to the original size
      repeat: -1 // Infinite pulsing
    });
  }
});


// Entrance animation (from the right)
gsap.from(".cloud-left", {
  opacity: 0,
  x: -200, // Comes in from the right
  delay: 0.4,
  stagger: 0.1, // Delay between clouds
  ease: "power1.out",
  duration: 1.1,
  onComplete: () => {
    // Start pulsing after entrance animation is complete
    gsap.to(".cloud-left", {
      scale: 1.01, // Slightly enlarge
      duration: 1, // Time for each pulse
      ease: "power1.inOut",
      yoyo: true, // Reverse back to the original size
      repeat: -1 // Infinite pulsing
    });
  }

  
});

gsap.from(".fade-in",{
opacity:0,
duration:3,
ease:"power1.inOut"


});





</script>


