---
const { quote, author } = Astro.props;
---





<div class="border border-pink-100 flex flex-col gap-sm p-sm  lg:pb-xl w-fit max-w-xl items-start justify-center lg:p-ml">
<p class="text-pink-100 font-primary text-h3-mobil min-w-56 lg:text-h1-display-desktop">"{quote}"</p>
<p class="text-pink-100 font-primary text-link-mobil lg:text-link-desktop">- {author}</p>
</div>